:root {
    --cw: #bdf;
    --c1: #fbf;
    --c2: #990000;
    --c3: #330000;
    --cb: #000000;
}

body {
    background: url('./img/wp.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    color: var(--cw);
    font-family: 'DotGothic16', monospace;
    word-break: break-word;
}

div, section {
    background: var(--cb);
    border: 1px solid var(--c1);
    box-shadow: 2px 2px 0 var(--c2),
                4px 4px 0 var(--c3);
}
.censored {
    display: inline-block;
    animation: censor 0.1s infinite;
    font-weight: bold;
}

section {
    display: none;
    margin-left: 180px;
    padding: 8px 16px;
}

section:target {
    display: block;
}

h1 {
    border-bottom: 1px solid var(--c1);
    font-size: 2em;
    font-weight: normal;
    margin: 4px 0 12px 0;
}

h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 36px 0 0 12px;
    text-decoration: underline;
}

a {
    color: var(--c1);
    text-decoration: none;
}

a:visited {
    color: var(--c2);
}

img {
    border: 3px double var(--c1);
}

.dnav {
    clear: left;
    float: left;
    margin-bottom: 8px;
    width: 160px;
    padding: 4px;
}

.dnav img {
    width: 100%;
    height: auto; 
    border: none; 
    background-color: var(--cb);
    box-shadow: 0 0 5px var(--c1);
}
.mnav {
    display: none;
    position: fixed;
    width: 100%;
    padding: 6px 0 4px 8px;
    bottom: 0;
    left: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}

@media (max-height: 330px) {
    .mnav { display: block; }
    .dnav { display: none; }
    section { margin-left: 0; margin-bottom: 36px; }
}

@media (max-width: 600px) {
    .mnav { display: block; }
    .dnav { display: none; }
    section { margin-left: 0; margin-bottom: 36px; }
}

